In [1]:
import requests
from IPython.core.display import HTML
import pandas as pd
from bs4 import BeautifulSoup as BS
import re

In [2]:
#establishing connection to billboard.com

billboard100 = 'https://www.billboard.com/charts/hot-100/'
billboard = requests.get(billboard100)
billboardsoup = BS(billboard.text)

#creating empty sets for the information that will be parsed in the for loop below.
song = []
artist = []
this_week = []
last_week = []
peak_position = []
weeks_on_chart = []

#Finding the containers on the table to extract information from.
result = billboardsoup.find_all('div', class_='o-chart-results-list-row-container')

#for loop finding all the relevant information in a given container.
for res in result:
    song.append(res.find('h3').text.strip())
    artist.append(res.find('h3').find_next('span').text.strip())
    this_week.append(res.find('span').text.strip())
    weeks_on_chart.append(res.findAll('span')[4].text.strip())
    peak_position.append(res.find_all('li', {"class": "u-width-72"})[2].find('span').text.strip())
    last_week.append(res.find_all('li', {"class": "u-width-72"})[1].find('span').text.strip())

#creating a dataframe of all the lists created above.    
billboard100 = pd.DataFrame({'artist':artist,
                            'song':song,
                            'this_week':this_week, 
                            'last_week':last_week,
                            'peak_position':peak_position,
                            'weeks_on_chart':weeks_on_chart})

In [3]:
billboard100.head()

,artist,song,this_week,last_week,peak_position,weeks_on_chart
0,Miley Cyrus,Flowers,1,1,1,10
1,Morgan Wallen,Last Night,2,2,1,8
2,SZA,Kill Bill,3,3,2,15
3,"Metro Boomin, The Weeknd & 21 Savage",Creepin',4,5,3,16
4,The Weeknd & Ariana Grande,Die For You,5,4,1,34

In [4]:
#building on the above code block to define it as a function.

#creating a user defined function that accepts a date in YYYY-MM-DD format
#and returns a dataframe of the necessary information

#Billboard Hot 100 data is available from 1958-08-03 through to the current day.
#billboard() function only accepts date in YYYY-MM-DD format as a string and can only return
#information from 1958-08-03 to present day. If no variable is passed, it will return the most
#recent Billboard Hot 100 charts.

#def starts defining the function, input variable as 'date' with a default empty value.
def billboard(date = ''):
    song = []
    artist = []
    this_week = []
    last_week = []
    peak_position = []
    weeks_on_chart = []
    
    billboarda = 'https://www.billboard.com/charts/hot-100/' + date + '/'
    billboardb = requests.get(billboarda)
    billboardc = BS(billboardb.text)
    
    result = billboardc.find_all('div', class_='o-chart-results-list-row-container')

    for res in result:
        song.append(res.find('h3').text.strip())
        artist.append(res.find('h3').find_next('span').text.strip())
        this_week.append(res.find('span').text.strip())
        weeks_on_chart.append(res.findAll('span')[4].text.strip())
        peak_position.append(res.find_all('li', {"class": "u-width-72"})[2].find('span').text.strip())
        last_week.append(res.find_all('li', {"class": "u-width-72"})[1].find('span').text.strip())
    
    dataframe = pd.DataFrame({'artist':artist,
                            'song':song,
                            'this_week':this_week, 
                            'last_week':last_week,
                            'peak_position':peak_position,
                            'weeks_on_chart':weeks_on_chart,
                            'date':date}) #adding a date column so you can see what date you are pulling information from within the function
   
    return dataframe #defining what to return from the function

In [7]:
#testing function
billboard('1992-05-23').head()

,artist,song,this_week,last_week,peak_position,weeks_on_chart,date
0,Kris Kross,Jump,1,1,1,8,1992-05-23
1,En Vogue,My Lovin' (You're Never Gonna Get It),2,2,2,10,1992-05-23
2,Red Hot Chili Peppers,Under The Bridge,3,6,3,8,1992-05-23
3,Joe Public,Live And Learn,4,5,4,11,1992-05-23
4,Queen,Bohemian Rhapsody,5,3,2,34,1992-05-23